body {
  text-align: center;
  background-color: #011f3f;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  margin: 5%;
  color: #fef2bf;
  line-height: 1.5;
}

.container-fluid {
  display: block;
  width: 90%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}